@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #070b14;
  --foreground: #f3f4f6;
}

body {
  background-color: #070b14;
  color: #f3f4f6;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #090e18;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #1f293d;
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #374151;
}
